<div class="container text-center mt-3 mb-3 col-8 card bg-light">
   <form action="/output" method="post">
      <div class="form-group">
         <h1 class="text text-danger bg-warning">Add new laptop</h1>
      </div>
      <div class="form-group mt-3">
         <input type="text" class="form-control" name="name" placeholder="Name" required minlength="3" maxlength="20">
      </div>
      <div class="form-group mt-3">
         <input type="number" class="form-control" name="price" placeholder="Price" required min="500" max="5000">
      </div>
      <div class="form-group mt-3">
         <label for="">Select laptop brand: </label>
         <select class="form-control" name="brand">
            <option value="Apple">Apple</option>
            <option value="Asus">Asus</option>
            <option value="Acer">Acer</option>
            <option value="Dell">Dell</option>
            <option value="HP">HP</option>
         </select>
      </div>
      <div class="form-group mt-3">
         <label for="">Select laptop type: </label><br>
         <input type="radio" name="type" value="Office"> Office
         <input type="radio" name="type" value="Gaming"> Gaming
         <input type="radio" name="type" value="Multimedia"> Multimedia
      </div>
      <div class="form-group mt-3">
         Best seller <input type="checkbox"name="best_seller" value="true">
      </div>
      <div class="form-group mt-3 mb-3">
         <input class="btn btn-primary" type="submit" value="Add">
      </div>
   </form>
</div>
</form>